@model Resume.MVC.Models.TblTeam
@{
    ViewBag.Title = "Takim Arkadasi Ekleme Sayfası";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<form method="post">
    <input type="text" name="NameSurname" class="form-control" placeholder="Ad Soyad Ekleyiniz" />
    <br />
    <input type="text" name="ImageUrl" class="form-control" placeholder="Resim Url Ekleyiniz" />
    <br />
    <input type="text" name="Title" class="form-control" placeholder="Unvan Ekleyiniz" />
    <br />
    <input type="text" name="Description" class="form-control" placeholder="Açıklama Ekleyiniz" />
    <br />
    <input type="text" name="TwitterUrl" class="form-control" placeholder="Twitter Linki Ekleyiniz" />
    <br />
    <input type="text" name="LinkedinUrl" class="form-control" placeholder="Linkedin Linki Ekleyiniz" />
    <br />
    <input type="text" name="GithubUrl" class="form-control" placeholder="Github Linki Ekleyiniz" />
    <br />
    <input type="text" name="InstagramUrl" class="form-control" placeholder="Instagram Linki Ekleyiniz" />
    <br />
    <button class="btn btn-info">Ekle</button>
</form>
<br />
<a class="btn btn-dark" href="/Team/Index">Geri Don</a>


