@model Resume.MVC.Models.TblSocialMedia
@{
    ViewBag.Title = "Sosyal Medya Ekleme Sayfası";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<form method="post">
    <input type="text" name="SocialMediaName" class="form-control" placeholder="Sosyal Medya Ekleyiniz" />
    <br />
    <input type="text" name="Url" class="form-control" placeholder="Link Ekleyiniz" />
    <br />
    <input type="text" name="SocialMediaIcon" class="form-control" placeholder="Sosyal Medya IkonUrl Ekleyiniz" />
    <br />
    <button class="btn btn-info">Ekle</button>
</form>
<br />
<a class="btn btn-dark" href="/SocialMedia/Index">Geri Don</a>


