@model Resume.MVC.Models.TblCategory
@{
    ViewBag.Title = "Kategori Ekleme Sayfası";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<form method="post">
    <input type="text" name="CategoryName" class="form-control" placeholder="Category Adi Ekleyiniz" />
    <br />
    <button class="btn btn-info">Ekle</button>
</form>
<br />
<a class="btn btn-dark" href="/Category/Index">Geri Don</a>

