
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
@Html.Partial("~/Views/DefaultLayout/DefaultLayoutHead.cshtml")

<body data-spy="scroll" data-target=".navbar" data-offset="51">
    <!-- Nav Bar Start -->
    @Html.Partial("~/Views/DefaultLayout/DefaultLayoutNavbar.cshtml")
    <!-- Nav Bar End -->

    @RenderBody()

    @Html.Partial("~/Views/DefaultLayout/DefaultLayoutScript.cshtml")
    
</body>
</html>