<nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
    <div class="sb-sidenav-menu">
        <div class="nav">

            <a class="nav-link" href="index.html">
                <div class="sb-nav-link-icon"><i class="fa-solid fa-address-card"></i></div>
                Hakkımda
            </a>
            <a class="nav-link" href="index.html">
                <div class="sb-nav-link-icon"><i class="fa-solid fa-list"></i></div>
                Kategoriler
            </a>
            <a class="nav-link" href="index.html">
                <div class="sb-nav-link-icon"><i class="fa-solid fa-address-book"></i></div>
                İletişim
            </a>
            <a class="nav-link" href="index.html">
                <div class="sb-nav-link-icon"><i class="fa-solid fa-school"></i></div>
                Deneyimler
            </a>
            <a class="nav-link" href="index.html">
                <div class="sb-nav-link-icon"><i class="fa-solid fa-star"></i></div>
                One Çıkanlar
            </a>
            <a class="nav-link" href="index.html">
                <div class="sb-nav-link-icon"><i class="fa-regular fa-envelope"></i></div>
                Mesajlar
            </a>
            <a class="nav-link" href="index.html">
                <div class="sb-nav-link-icon"><i class="fa-solid fa-diagram-project"></i></div>
                Projeler
            </a>
            <a class="nav-link" href="index.html">
                <div class="sb-nav-link-icon"><i class="fa-brands fa-wpforms"></i></div>
                Servisler
            </a>
            <a class="nav-link" href="index.html">
                <div class="sb-nav-link-icon"><i class="fa-solid fa-kitchen-set"></i></div>
                Yetenekler
            </a>
            <a class="nav-link" href="index.html">
                <div class="sb-nav-link-icon"><i class="fa-solid fa-hashtag"></i></div>
                Sosyal Medya
            </a>
            <a class="nav-link" href="index.html">
                <div class="sb-nav-link-icon"><i class="fa-solid fa-people-group"></i></div>
                Takım
            </a>
            <a class="nav-link" href="https://github.com/daghanulasdev">
                <div class="sb-nav-link-icon"><i class="fa-brands fa-github"></i></div>
                Daghan Ulas
            </a>
        </div>
    </div>
    
</nav>
