
@{
    ViewBag.Title = "Admin Paneline Hosgeldiniz";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Admin Paneline Hoşgeldiniz.</h2>
<br />
<a href="/Default/Index" class="btn btn-dark">Siteye Dön</a>


