@using Resume.MVC.Models
@model List<TblAbout>
<div class="about wow fadeInUp" data-wow-delay="0.1s" id="about">
    <div class="container-fluid">
        <div class="row align-items-center">
            @foreach (var item in Model)
            {
                <div class="col-lg-6">
                    <div class="about-img">
                        <img src="@item.ImageUrl" alt="Image">
                    </div>
                </div>
                <div class="col-lg-6">

                    <div class="about-content">
                        <div class="section-header text-left">
                            <p>Hakkımda Daha Fazla Öğren</p>
                            <h2>@item.Title</h2>
                        </div>
                        <div class="about-text">
                            <p>
                                @item.Description
                            </p>
                        </div>
                        @Html.Action("Skill")
                        <a class="btn" href="#contact">Daha Fazlası</a>
                    </div>

                </div>
            }
        </div>
    </div>
</div>
