@using Resume.MVC.Models
@model List<TblCategory>
<div class="row">
    <div class="col-12">
        <ul id="portfolio-filter">
            <li data-filter="*" class="filter-active">Tümü</li>
            @foreach (var item in Model)
            {
                <li data-filter=".filter-@item.CategoryId">@item.CategoryName</li>
            }
        </ul>
    </div>
</div>
