@using Resume.MVC.Models
@model List<TblCategory>
<div class="row">
    <div class="col-12">
        <ul id="portfolio-filter">
            <li data-filter="*" class="filter-active">All</li>
            <li data-filter=".filter-1">Web Design</li>
            <li data-filter=".filter-2">Mobile Apps</li>
            <li data-filter=".filter-3">Game Dev</li>
        </ul>
    </div>
</div>
